<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        				http://www.springframework.org/schema/beans/spring-beans.xsd
        				http://www.springframework.org/schema/context
        				http://www.springframework.org/schema/context/spring-context.xsd
        				http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-4.1.xsd"
        				>

	<context:annotation-config/>
 	  <context:component-scan base-package="com.cmz.gameaop.service" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/> 
	</context:component-scan> 
	
	<bean id="replacer" class="com.cmz.gameaop.MyMethodReplacer"></bean>
	
	<bean id="myBean" class="com.cmz.gameaop.MyBean" scope="singleton">
	<replaced-method name="test" replacer="replacer"></replaced-method>
	</bean>
	
	

    <bean id="messageSource"
            class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>format</value>
                <value>exceptions</value>
                <value>windows</value>
            </list>
        </property>
    </bean>

	
	 <aop:aspectj-autoproxy /> 
 	
	<!-- <bean class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator" />  -->
 	<!--  <bean id="human" class="com.cmz.gameaop.service.Human"></bean> -->
	 <bean class="com.cmz.gameaop.aspect.SleepHelper"></bean>
	

</beans>